.navigation {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 0.313rem 2rem;
  color: white;
  align-items: center;
  background-color: black;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.navigation span {
  display: inline-flex;
}

.navigation a {
  color: white;
  margin-right: 0.125rem;
}

.navigation__logo {
  font-family: "NetronRegular";
  font-size: medium;
}
